body {
    margin: 0px;
    background-color: rgb(21, 38, 49);
}

a {
    text-decoration: none;
    color: rgb(153, 153, 153);
    transition: .1s;
}

a:hover {
    color: rgb(255, 255, 255, 1);
}

.full-width-container {
    width: 100%;
    margin-top: 50px;
}

.nav-bar .cell {
    height: 50px;
    background-color: rgb(78, 152, 212);
}

.nav-bar .left {
    float: left;
    transition: .3s;
}

.nav-bar .left:hover, .page-link:hover {
    background-color: rgb(103, 187, 255);
}

.nav-bar .right {
    float: right;
    line-height: 50px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 10px;
}

.nav-bar {
    position: sticky;
    height: 50px;
    top: 10px;
    z-index: 2;
}

.home-icon {
    display: block;
    padding: 2px 8px;
}

.home-span {
    font-family: 'Assistant';
    padding: 3px;
}

.page-link {
    float: right;
    width: 150px;
    text-align: center;
    border-left-style: solid;
    border-left-color: rgb(79, 105, 144);
    border-left-width: 1px;
    transition: .3s;
}

.header-text {
    font-family: 'Assistant';
    color: rgb(255, 255, 255, 1);
}

.nav-bar .right .last {
    margin-right: 300px;
    border-right-style: solid;
    border-right-color: rgb(79, 105, 144);
    border-right-width: 1px;
}

.nav-bar .right .first {
    margin-left: 100px;
}

.nav-bar .right .selected {
    background-color: rgb(49, 113, 167);;
}

.landing-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contents-container {
    background-color: cadetblue;
}
.scroll-body {
    width: 1000px;
    margin: auto;
    background-color: black;
    height: 100%;
    padding-top: 150px;
    padding-bottom: 20px;
    margin-top: -115px;
}

.block {
    position: relative;
    background-color: rgba(87, 175, 245, 0.5);
    width: 100%;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: .2s;
}

.block:hover {
    background-color: rgba(87, 175, 245, 1);
}

.scroll-body .left {
    right: 12.5%;
    text-align: right;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.scroll-body .right {
    left: 12.5%;
    text-align: left;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
}

.small-text {
    font-family: 'Assistant';
    font-size: 22px;
    color: rgb(255, 255, 255, 1);
}

.big-text {
    font-family: 'Assistant';
    font-size: 60px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
}

.huge-text {
    font-family: 'Assistant';
    font-size: 175px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
}

.display-table {
    height: 260px;
    padding: 20px 0px;
}

.logo {
    height: 250px;
}

.game-image {
    height: 250px;
    border: white;
    border-style: solid;
    border-width: 4px
}

.no-game-container {
    text-align: center;
    padding: 30px;
}

.footer {
    height: 200px;
    background-color: rgb(79, 105, 144);
    text-align: center;
    font-family: 'Assistant';
    color: rgb(206, 206, 206);
    position: relative;
}

.footer-split-container {
    height:120px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    width: 100%;
}

.footer-left-container {
    width: 49.42%;
    float: left;
    text-align: right;
    padding-right: 10px;
}

.footer-right-container {
    width: 49.42%;
    float: left;
    text-align: left;
    padding-left: 10px;
}

.median {
    width: .05%;
    background: black;
    float: left;
    height: 100%;
}